<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.quiksee.dman">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <!-- Needed so locked-screen new-order alerts can auto-open the app. -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <queries>
        <package android:name="com.google.android.apps.maps" />
        <!-- OEM autostart / battery screens (Android 11+ package visibility) -->
        <package android:name="com.miui.securitycenter" />
        <package android:name="com.miui.powerkeeper" />
        <package android:name="com.coloros.safecenter" />
        <package android:name="com.oplus.safecenter" />
        <package android:name="com.oppo.safe" />
        <package android:name="com.coloros.oppoguardelf" />
        <package android:name="com.oneplus.security" />
        <package android:name="com.iqoo.secure" />
        <package android:name="com.vivo.permissionmanager" />
        <package android:name="com.vivo.abe" />
        <package android:name="com.huawei.systemmanager" />
        <package android:name="com.hihonor.systemmanager" />
        <package android:name="com.samsung.android.lool" />
        <package android:name="com.samsung.android.sm" />
        <package android:name="com.asus.mobilemanager" />
        <package android:name="com.meizu.safe" />
        <package android:name="com.letv.android.letvsafe" />
        <package android:name="com.transsion.phonemanager" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="google.navigation" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>
   <application
       android:name="${applicationName}"
       android:label="Quiksee Delivery"
       android:requestLegacyExternalStorage="true"
       android:usesCleartextTraffic="true"
       android:networkSecurityConfig="@xml/network_security_config"
       android:icon="@mipmap/ic_launcher"
       android:extractNativeLibs="true">
       <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDAzcDcfpGhFzA3CUx3b_9HOIl8oGTGeMI"/>

       <provider
           android:name="vn.hunghd.flutterdownloader.DownloadedFileProvider"
           android:authorities="${applicationId}.flutter_downloader.provider"
           android:exported="false"
           android:grantUriPermissions="true">
           <meta-data
               android:name="android.support.FILE_PROVIDER_PATHS"
               android:resource="@xml/provider_paths"/>
       </provider>

       <activity
            android:name=".MainActivity"
           android:exported = "true"
            android:launchMode="singleTop"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="quiksee_new_order_v5" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
       <service
           android:name=".DriverOnlineService"
           android:enabled="true"
           android:exported="false"
           android:stopWithTask="false"
           android:foregroundServiceType="location|dataSync" />
       <service
           android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingService"
           tools:node="remove" />
       <service
           android:name=".QuikseeMessagingService"
           android:exported="false"
           android:directBootAware="true">
           <intent-filter>
               <action android:name="com.google.firebase.MESSAGING_EVENT" />
           </intent-filter>
       </service>
       <service
           android:name=".NavigationForegroundService"
           android:enabled="true"
           android:exported="false"
           android:foregroundServiceType="dataSync" />
       <service
           android:name=".OrderAlertForegroundService"
           android:enabled="true"
           android:exported="false"
           android:stopWithTask="false"
           android:foregroundServiceType="mediaPlayback" />
       <receiver
           android:name=".BootCompletedReceiver"
           android:enabled="true"
           android:exported="true"
           android:directBootAware="true">
           <intent-filter>
               <action android:name="android.intent.action.BOOT_COMPLETED" />
               <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
               <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
           </intent-filter>
       </receiver>
       <receiver
           android:name=".DriverKeepAliveReceiver"
           android:enabled="true"
           android:exported="false">
           <intent-filter>
               <action android:name="in.quiksee.dman.action.DRIVER_KEEP_ALIVE" />
           </intent-filter>
       </receiver>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
       <meta-data
           android:name="com.google.firebase.messaging.default_notification_channel_id"
           android:value="quiksee_new_order_v5" />

    </application>
</manifest>
