<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbWcE3t5byHozRSRhcOENPJ_5jSVYjcGA</string>
	<key>GCM_SENDER_ID</key>
	<string>455538882799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quiksee.vendor</string>
	<key>PROJECT_ID</key>
	<string>quiksee-user</string>
	<key>STORAGE_BUCKET</key>
	<string>quiksee-user.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455538882799:ios:c97df7d9080b916a77c31a</string>
</dict>
</plist>
